apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nightowl.fullname" . }}
  labels:
    {{- include "nightowl.labels" . | nindent 4 }}
data:
  LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  LOG_FORMAT: {{ .Values.config.logFormat | quote }}
  CORS_ALLOWED_ORIGINS: {{ .Values.config.corsAllowedOrigins | quote }}
  METRICS_PATH: {{ .Values.config.metricsPath | quote }}
  MIGRATIONS_GLOBAL_DIR: {{ .Values.migrations.globalDir | quote }}
  MIGRATIONS_TENANT_DIR: {{ .Values.migrations.tenantDir | quote }}
