{{- if .Values.secrets.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nightowl.fullname" . }}
  labels:
    {{- include "nightowl.labels" . | nindent 4 }}
type: Opaque
stringData:
  DATABASE_URL: {{ .Values.secrets.databaseUrl | quote }}
  REDIS_URL: {{ .Values.secrets.redisUrl | quote }}
  {{- if .Values.secrets.oidcIssuerUrl }}
  OIDC_ISSUER_URL: {{ .Values.secrets.oidcIssuerUrl | quote }}
  OIDC_CLIENT_ID: {{ .Values.secrets.oidcClientId | quote }}
  {{- end }}
  {{- if .Values.secrets.slackBotToken }}
  SLACK_BOT_TOKEN: {{ .Values.secrets.slackBotToken | quote }}
  SLACK_SIGNING_SECRET: {{ .Values.secrets.slackSigningSecret | quote }}
  SLACK_ALERT_CHANNEL: {{ .Values.secrets.slackAlertChannel | quote }}
  {{- end }}
{{- end }}
